table {
  text-align: left;
}

table hr {
  border: none;
  height: 1px;
  background-color: #c4c4c4;
  margin: 0.5em 0;
}

.row-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trash {
  color: #721c24;
  transition: all 0.05s ease-in-out;
}

.trash:hover {
  cursor: pointer;
}

.trash:active {
  transform: scale(0.9);
}
