table {
  text-align: left;
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
}

table::-webkit-scrollbar {
  display: none;
}

table hr {
  border: none;
  height: 1px;
  background-color: #c4c4c4;
  margin: 0.5em 0;
}

th {
  width: 16em;
}

th input,
th select {
  width: 10em;
  height: 2em;
}

tr {
  height: 2.25em;
  padding: 0.25em;
}

#table {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
  width: 10em;
}

.trash {
  color: #c4c4c4;
  transition: all 0.05s ease-in-out;
}

.trash:hover {
  color: #721c24;
  cursor: pointer;
}

.trash:active {
  transform: scale(0.9);
}

.pencil {
  color: #c4c4c4;
  transition: all 0.05s ease-in-out;
}

.pencil:hover {
  color: #000;
  cursor: pointer;
}

.pencil:active {
  transform: scale(0.9);
}

.check {
  color: #c4c4c4;
  transition: all 0.05s ease-in-out;
}

.check:hover {
  color: #155724;
  cursor: pointer;
}

.check:active {
  transform: scale(0.9);
}

#produto-buttons {
  width: 18em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-produto {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2em;
  width: 8em;
  color: #155724;
  transition: all 0.05s ease-in-out;
}

.add-produto:hover {
  cursor: pointer;
}

.add-produto:active {
  transform: scale(0.98);
}

.close {
  color: #721c24;
}
